*{

    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
a:link {
    color: #3766E8;
;
  }
  
 
  a:visited {
    color: #3766E8;
  }
  
  
  a:hover {
    color: #3766E8;
  }
  
  
  a:active {
    color: #3766E8;
  }